*.html
*.pdf
*.redxml
*.swp
comments.txt
*.upload
*~
.serve.pid
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-svensson-credential-oidc-bridge.xml
package-lock.json
report.xml
!requirements.txt
